header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    background-image: url("../images/logo.png");
    width: 100px;
    height: 40px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
