.filter {
    background: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    position: relative;
}

.locations,
.amenities {
    height: 100%;
    width: 25%;
    margin: auto 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.locations {
    border-right: 1px solid #DDDDDD;
}

h3 {
    font-weight: 600;
}

h4 {
    font-weight: 400;
    font-size: 14px;
}

button {
    position: absolute;
    right: 30px;
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}

.popover {
    display: none;
    background-color: #FAFAFA;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: absolute;
    list-style: none;
    padding: 5px 10px;
    top: 5em;
    right: 0.1em;
    text-align: center;
}

.popover h2 {
    font-size: 16px;
}

.popover ul li {
    padding: auto;
}

button:hover {
    opacity: 90%;

}
