.places {
    margin-top: 30px;
    font-size: 30px;
    text-align: left;
}

.article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    text-align: center;
}

article h2 {
    font-size: 30px;
}
